<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
	<!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
    <meta name="language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Sticks Clothing based in Geelong, Victoria.">
	<meta name="author" content="Rowan Chapman">
 	<meta name="keyphrases" content="Sticks Clothing, Dione Chapman">
    <meta name="keywords" content="Dione, Chapman, sticks, clothing, Geelong, mumpreneur, sticksclothing">
    
	<!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono"> 

	<!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

	<!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" href="{{ url_for('static', filename='images/2.png') }}">

	<!-- Google Junk –––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script>
  		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-78881158-1', 'auto');
  		ga('send', 'pageview');
	</script>
    {% endblock %}
</head>
<body bgcolor="#ffffff">

	<div class="container">
	   {% block content %}{% endblock %}
	</div>

<!-- End Document –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
