{% extends "base.html" %}
{% block head %} 
    <!-- Email Octopus Stuff –––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/formEmbed.js"></script>
    <link rel="stylesheet" href="https://emailoctopus.com/bundles/emailoctopuslist/css/formEmbed.css">
{% endblock %}
{% block title %}Sticks Clothing{% endblock %}
{% block content %}
    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row" style="margin-top: 25%">
        <div class="six columns" >
            <h4><strong>+</strong> Sticks Clothing</h4>
            <img src="images/2.jpg" height="30" width="314">
            <br /><br />
            <p>A mumpreneur offering one off, uniquely styled garments for children. </p>
            
            <table>
                <tr>
	               <td><a href="https://www.instagram.com/sticksclothing/"><img src="{{ url_for('static', filename='images/7.png') }}" alt="instagram @sticksclothing" height="60" width="60"></a></td>
    	           <td>@sticksclothing</td>
                </tr>
                <tr>
		          <td><a href="https://www.facebook.com/sticksclothing"><img src="{{ url_for('static', filename='images/5.png') }}" alt="facebook @sticksclothing" height="50" width="50"></a></td>
		          <td>@sticksclothing</td>
		       </tr>
            </table>
        </div>
        <div class="six columns">
        <!-- Email Subscribe Form –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <table>
                <tr>
                    <td><img src="{{ url_for('static', filename='images/9.png') }}" alt="email image" height="22" width="30"></td>
                    <td>Subscribe to our mailing list</td>
				</tr>
			</table>
            <div class="email-octopus-form-wrapper">
                <h2 class="email-octopus-heading" style="display: none;">Subscribe to Sticks Clothing - members</h2>
				<p class="email-octopus-success-message"></p>
				<p class="email-octopus-error-message"></p>
				<form method="post" action="https://emailoctopus.com/lists/299b4072-8ed6-11e6-9b6d-02b6b4f78f99/members/external-add" class="email-octopus-form">
				    <div class="email-octopus-form-row">
					   <label>Email address (required)</label>
					   <input type="email" name="emailAddress" class="email-octopus-email-address" style="background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg=="); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
					</div>
					<div class="email-octopus-form-row">
						<label>First name</label>
						<input type="text" name="firstName" class="email-octopus-first-name">
					</div>
					<div class="email-octopus-form-row">
						<label>Last name</label>
						<input type="text" name="lastName" class="email-octopus-last-name">
					</div>
					<div class="email-octopus-form-row-hp">
						<input type="text" name="hp299b4072-8ed6-11e6-9b6d-02b6b4f78f99" autocomplete="off" value="">
					</div>
					<div class="email-octopus-form-row-subscribe">
						<input type="hidden" name="successRedirectUrl" class="email-octopus-success-redirect-url" value="">
						<button type="submit">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
    </div>
{% endblock %}

