{% extends "base.html" %}

{% block title %}Sticks Clothing{% endblock %}
{% block content %}
    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row" style="margin-top: 25%">
        <div class="four columns" >
            <table>
                <tr>
	               <td><a href="https://www.instagram.com/sticksclothing/"><img src="{{ url_for('static', filename='images/7.png') }}" alt="instagram @sticksclothing" height="60" width="60"></a></td>
    	           <td>@sticksclothing</td>
                </tr>
                <tr>
		          <td><a href="https://www.facebook.com/sticksclothing"><img src="{{ url_for('static', filename='images/5.png') }}" alt="facebook @sticksclothing" height="50" width="50"></a></td>
		          <td>@sticksclothing</td>
		       </tr>
            </table>
        </div>
        
        <div class="eight columns">
            <h1><strong>+</strong> Sticks Clothing</h1>
            <hr>
            <br />
            <p>A mumpreneur offering one off, uniquely styled garments for children. </p>
            <p> Online Store coming soon </p>
		</div>
    </div>
{% endblock %}

