{%} extends "base.html" %}
{% block title %}Sticks Clothing{% endblock %}
{% block content %}
    <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row" style="margin-top: 25%">
        <div class="six columns" >
            <h4><strong>+</strong> Sticks Clothing</h4>
            <img src="{{ url_for('static', filename='images/1.jpg') }}" height="30" width="314">
            <br /><br />
            <p>A mumpreneur offering one off, uniquely styled garments for children. </p>
            
            <table>
                <tr>
	               <td><a href="https://www.instagram.com/sticksclothing/"><img src="{{ url_for('static', filename='images/7.png') }}" alt="instagram @sticksclothing" height="60" width="60"></a></td>
    	           <td>@sticksclothing</td>
                </tr>
                <tr>
		          <td><a href="https://www.facebook.com/sticksclothing"><img src="{{ url_for('static', filename='images/5.png') }}" alt="facebook @sticksclothing" height="50" width="50"></a></td>
		          <td>@sticksclothing</td>
		       </tr>
            </table>
        </div>
        <div class="six columns">
    
		</div>
    </div>
{% endblock %}

